<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->


    <target name="ErrorFile" xsi:type="File"
           fileName="${basedir}/Logs/${shortdate}/${shortdate}_Error.txt"
           layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline} ${exception:format=ToString} ${newline}"/>
    <target name="errorDebugger" xsi:type="Debugger"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline} ${exception:format=ToString} ${newline}"/>

    <target name="File" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}/log.txt"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
    <target name="debugger" xsi:type="Debugger"
            layout="${newline}${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>

    <target name="mail" xsi:type="Mail"
        smtpServer="smtp-relay.gmail.com"
        smtpPort="25"
        smtpAuthentication="None"
        smtpUserName=""
        smtpPassword=""
        enableSsl="false"
        from="Eason.yu&lt;Eason.yu@gogoro.com&gt;"
        to="Eason.yu@gogoro.com;"
        html="false"
        encoding="UTF-8"
        addNewLines="true"
        subject="系統訊息：${machinename} 於 ${shortdate} ${time} 產生 ${level} 等級的紀錄"
        header="========================================================================="
        body="${newline}
發生時間：${longdate} ${newline}${newline}
Log等級：${level:uppercase=true} ${newline}${newline}
Exception類別：${exception:format=type} ${newline}${newline}
錯誤訊息：${message} ${newline}${newline}
詳細訊息內容：${exception:format=ToString}"
        footer="========================================================================="
            />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" levels="Error" writeTo="ErrorFile" />
    <logger name="*" levels="Error" writeTo="mail" />
    <logger name="*" levels="Error" writeTo="errorDebugger" />
    <logger name="*" levels="Info, Warn" writeTo="File" />
    <logger name="*" levels="Trace, Debug" writeTo="debugger" />

  </rules>
</nlog>